@model ah412415_MIS4200.Models.Appointment1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.doctorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.doctorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
