@model IEnumerable<ah412415_MIS4200.Models.Patient>

@{
    ViewBag.Title = "Patients";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pateintID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patientSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pateintID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patientSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patient }) |
            @Html.ActionLink("Details", "Details", new { id=item.patient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patient })
        </td>
    </tr>
}

</table>
